SESSION_START=2021-08-02T00:00:01
SESSION_END=2022-08-01T00:00:01

GITHUB_USERNAME=//keymastervn
GITHUB_OWNER=//Thinkei
GITHUB_OWNER_ID=//gh_org_id
GITHUB_ACCESS_TOKEN=//https://github.com/settings/tokens

CONFLUENCE_USER=//dat.le@your_company.com
CONFLUENCE_API_TOKEN=//your token at https://id.atlassian.com/manage-profile/security/api-tokens
CONFLUENCE_DOMAIN=//your_company.atlassian.net
